/*.export-bar {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(144, 144, 144, 0.5);*/
/*    z-index: 99999;*/
/*    font-size: 40px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.export-bar .card-loader {*/
/*    width: 80%;*/
/*    max-width: 900px;*/
/*    padding: 10px;*/
/*    background-color: #fff;*/
/*}*/
/*.export-bar .progress {*/
/*    height: 20px;*/
/*    border-radius: .2rem;*/
/*    overflow: unset !important;*/
/*}*/
/*.export-bar .progress-bar {*/
/*    border-radius: .2rem;*/
/*    overflow: unset !important;*/
/*}*/
/*.export-bar .progress-bar.active {*/
/*    animation: progress-bar-stripes .7s linear infinite;*/
/*}*/
/*.export-bar .process-text {*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    font-size: 12px;*/
/*    margin-left: .5rem;*/
/*}*/

ul.nav.nav-treeview {
    padding-left: 15px;
}

.widget-content{padding:1rem;flex-direction:row;align-items:center}
.widget-content-outer{display:flex;flex:1;flex-direction:column}
.widget-heading{font-size: larger;font-weight:bold}
.widget-content-wrapper{display:flex;flex:1;position:relative;align-items:center}
.widget-content .widget-content-left .widget-subheading{opacity:.5}
.widget-content-right{margin-left:auto}

.widget-content .widget-progress-wrapper{margin-top:1rem}

.widget-numbers{font-weight:bold;font-size:1.8rem;display:block}
.widget-content .widget-progress-wrapper .progress-sub-label{margin-top:.33333rem;opacity:.5;display:flex;align-content:center;align-items:center}

.sub-label-right{margin-left:auto}


