#usersTable td {
    vertical-align: middle;
}

@media only screen and (max-width: 540px) {
    #usersTable {
        display: block;
    }
    .col-sm-5.col-form-label {
        text-align: left !important;
    }
}

@media only screen and (max-width: 1280px) {
    #usersTable {
        display: block;
    }

}

.card-body table {
    white-space: nowrap;
    overflow-x: auto;
    display: block;
}
