@media only screen and (max-width: 540px) {
    #usersTable {
        display: block;
    }
    .col-sm-5.col-form-label {
        text-align: left !important;
    }
}

@media only screen and (max-width: 976px) {
    #usersTable {
        display: block;
    }

}
