.table-hideable td,
.table-hideable th {
    width: auto;
    transition: width .5s, margin .5s;
}

.btn-condensed.btn-condensed {
    padding: 0 5px;
    box-shadow: none;
}
/* use class to have a little animation */

.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
.gioiTinh {
  width: fit-content;
  flex-wrap: nowrap !important;
}
.ngaySinh {
    width: 7vw ;
}
th, td {
    text-align: center;
    
}
/* .hoTen {
    text-align: left;
    max-width: 5vw !important;
} */
.sdt {
    width: 9vw;
}

.btn-default {
    background-color: #FFFFFF; 
    border-color: #FFFFFF;
     color: #444;
}
th:nth-of-type(1), td:nth-of-type(1) {
    position: absolute;
    left: 1.25rem;
    width: 60px;
    background-color: #fff;
    text-align: center;
}
.pull-right.btn.btn-default.btn-condensed.hide-column {
    padding: 0; 
    width: fit-content;
}

th:nth-of-type(2), td:nth-of-type(2) {
    position: absolute;
    left: 80px;
    width: 200px;
    background-color: #fff;
}
.scrolling-lock-table-wrapper {
    /* position: relative; */
    overflow-x:scroll;
    overflow-y:hidden;

}

td, th {
    padding: 5px 20px;
    text-align:center;
    /* white-space: nowrap; */
}
.table-responsive {
    flex-direction: row ;
    padding-left: 260px;
   
}

.card-body {
    max-width: fit-content;
    max-height: fit-content;
}